:root {
  --clr-navbar-primary: #FFFFFF;
  --clr-navbar-secondary: rgba(100,149,237);
  --clr-navbar-gradient-from: rgba(18, 70, 112, 0.719);
  --clr-navbar-gradient-to: rgba(62, 117, 163, 0.507);
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins;
  min-width: 1000px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

blockquote {
  text-align: center;
  margin: 20px 50px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  quotes: '\201C' '\201D' '\2018' '\2019';
}

blockquote:before {
  content: open-quote;
  color: black;
  font-size: 4em;
}

blockquote cite {
  display: block;
  text-align: right;
  padding: 0.5em 2em;
}

blockquote cite:before {
  content: "~ ";
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 100px;
  padding: 5px 15px 5px 15px;
  background-image: linear-gradient(45deg, #81c0d3, #a4c6d1, #b7bec0);
}

.header-wrapper ul {
  list-style: none;
}

.header-wrapper a, .header-wrapper a:visited {
  text-decoration: none;
  font-weight: 200;
  cursor: pointer;
  color: var(--clr-navbar-primary);
}

.brand-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.brand-wrapper .logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--clr-navbar-secondary);
  font-weight: bold;
  font-size: 1.5rem;
  opacity: 0.95;
  text-shadow: -2px -2px 1px rgba(25, 25, 26, 0.5);
}

.brand-wrapper .logo:hover, .brand-wrapper .logo:focus {
  cursor: pointer;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: 2s pendulam infinite linear;
          animation: 2s pendulam infinite linear;
}

.brand-wrapper .brand-name {
  font-family: Raleway, sans-serif;
  color: var(--clr-navbar-primary);
  font-weight: 600;
  text-shadow: -2px -2px 1px rgba(25, 25, 26, 0.5);
}

.navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-wrapper .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-wrapper img {
  border-radius: 50%;
  border: 1px solid var(--clr-navbar-primary);
  padding: 3px;
}

.navigation-wrapper img:hover, .navigation-wrapper img:focus {
  cursor: pointer;
  padding: 5px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: 2s pendulam infinite linear;
          animation: 2s pendulam infinite linear;
}

.navigation-wrapper nav a {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

.navigation-wrapper nav a:hover, .navigation-wrapper nav a.active {
  background-color: var(--clr-navbar-primary);
  color: var(--clr-navbar-secondary);
}

main {
  margin: 0 10px;
}

.main-nav-wrapper {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 5px 10px;
  color: black;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.main-nav-wrapper nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav-wrapper nav a, .main-nav-wrapper nav a:visited {
  display: inline-block;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 20px;
}

.main-nav-wrapper nav a.active {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: white;
}

section {
  margin-bottom: 40px;
}

.all-section-wrapper {
  width: 100%;
  padding: 5px 10px;
}

.section-header h3 {
  margin: 5px 0;
  color: rgba(0, 0, 0, 0.5);
}

.scroll-to-top.show {
  position: fixed;
  bottom: 10px;
  right: -10px;
  z-index: 999;
  cursor: pointer;
}

section:target::before {
  content: '';
  display: block;
  height: 140px;
  margin-top: -140px;
}

.projs-content .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.projs-content .tabs .tablist {
  width: 100%;
  height: 45px;
  background: var(--clr-navbar-gradient-to);
  border-radius: 25px;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 5px rgba(0, 0, 0, 0.1);
}

.projs-content .tabs .tablist button {
  text-align: center;
  width: 130px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 20px;
  font-weight: 400;
}

.projs-content .tabs .tablist button[aria-selected="true"], .projs-content .tabs .tablist button:hover {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: 500;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.projs-content .project-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
}

.projs-content .project-wrapper .proj-details-container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.projs-content .project-wrapper .proj-details-container .proj-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.projs-content .project-wrapper .proj-details-container .proj-item-container .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: bold;
}

.projs-content .project-wrapper .proj-details-container .proj-item-container .value {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.projs-content .project-wrapper .image-container {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projs-content .project-wrapper .image-container img {
  width: 300px;
  height: 300px;
  -o-object-fit: covers;
     object-fit: covers;
  border-radius: 10px;
  -webkit-box-shadow: 5px -3px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 5px -3px 2px 2px rgba(0, 0, 0, 0.1);
}

.skills-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.skills-content .prog-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px;
}

.skills-content .prog-group .prog-group-header {
  font-weight: 600;
  background: rgba(61, 117, 168, 0.651);
  padding: 5px 15px;
  color: white;
  border-radius: 5px;
}

.skills-content .prog-group .prog-group-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-content .prog-group .prog-group-content .prog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(86, 157, 160, 0.74);
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-content .prog-group .prog-group-content .prog-item i {
  text-shadow: 2px 2px 1px black;
}

.skills-content .prog-group .prog-group-content .prog-item .rating {
  font-size: 0.7rem;
  color: rgba(255, 217, 0, 0.931);
}

.skills-content .mlai-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px;
}

.skills-content .mlai-group .mlai-group-header {
  font-weight: 600;
  background: rgba(61, 117, 168, 0.651);
  padding: 5px 15px;
  color: white;
  border-radius: 5px;
}

.skills-content .mlai-group .mlai-group-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-content .mlai-group .mlai-group-content .mlai-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  color: white;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(86, 157, 160, 0.74);
  border-radius: 5px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.skills-content .mlai-group .mlai-group-content .mlai-item .mlai-subitem-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.75rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills-content .mlai-group .mlai-group-content .mlai-item .mlai-subitem-container .mlai-subitem-content {
  padding: 2px 5px;
  background: white;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.edu-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 10px;
  width: 80%;
  gap: 50px;
}

.edu-content .edu-item {
  background-color: rgba(86, 157, 160, 0.74);
  border-radius: 5px;
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--clr-navbar-primary);
  -webkit-box-shadow: 5px -5px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 5px -5px 2px rgba(0, 0, 0, 0.1);
}

.edu-content .edu-item .edu-item-header {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: rgba(61, 117, 168, 0.651);
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  font-weight: 600;
  font-family: monospace;
  font-size: 1.5rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.edu-content .edu-item .edu-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 10px 20px;
}

.edu-content .edu-item .edu-item-content img {
  width: 60px;
  height: 60px;
}

.edu-content .edu-item .edu-item-content .edu-subitem.institute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.edu-content .edu-item .edu-item-content .duration-grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.edu-content .edu-item .edu-item-content .edu-subitem .institute-name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.25rem;
  font-weight: 500;
}

.edu-content .edu-item .edu-item-content .edu-subitem .grade, .edu-content .edu-item .edu-item-content .edu-subitem .duration {
  font-size: 0.8rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.cert-content {
  padding: 10px;
  position: relative;
  width: 90%;
  z-index: 5;
  height: 350px;
  margin-bottom: 50px;
}

.cert-content .slide {
  display: none;
}

.cert-content .slide.active {
  display: block;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.cert-content .cert-item {
  background-color: rgba(86, 157, 160, 0.74);
  height: 300px;
  border-radius: 5px;
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--clr-navbar-primary);
  -webkit-box-shadow: 5px -5px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 5px -5px 2px rgba(0, 0, 0, 0.1);
}

.cert-content .cert-item .cert-item-header {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: rgba(61, 117, 168, 0.651);
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  font-weight: 600;
  font-family: monospace;
  font-size: 1.5rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.cert-content .cert-item .cert-item-header .right {
  float: right;
  padding-right: 20px;
}

.cert-content .cert-item .cert-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 100px;
}

.cert-content .cert-item .cert-item-content .cert-logo-from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cert-content .cert-item .cert-item-content .cert-logo-from .cert-from {
  font-size: 1.1rem;
  font-weight: 500;
}

.cert-content .cert-item .cert-item-content .cert-logo-from .cert-from small {
  color: rgba(0, 0, 0, 0.5);
}

.cert-content .cert-item .cert-item-content .cert-item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.85rem;
  padding: 20px 10px 10px 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.cert-content .cert-item .cert-item-content img {
  width: 60px;
  height: 60px;
}

.cert-content .cert-item .cert-item-content img.hopkins {
  fill: red;
}

.cert-content .prev-container, .cert-content .next-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  position: absolute;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cert-content .prev-container {
  left: 25px;
}

.cert-content .next-container {
  right: 25px;
}

.about-container {
  width: 80vw;
  height: 80vh;
  margin: 10px auto;
  background-image: url(../images/about_background.jpg);
  background-size: cover;
  border-radius: 5px;
  min-width: 1200px;
}

.about-container .about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 10px;
}

.about-container .about-wrapper .about-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 60%;
}

.about-container .about-wrapper .about-left .about-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-container .about-wrapper .about-left img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  padding: 2px;
}

.about-container .about-wrapper .about-left .about-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  justify-items: start;
}

.about-container .about-wrapper .about-left .about-item-wrapper .about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 5px;
}

.about-container .about-wrapper .about-left .about-item-wrapper .about-item .label {
  width: 50%;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about-container .about-wrapper .about-left .about-item-wrapper .about-item .value {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-container {
  width: 80vw;
  height: 80vh;
  margin: 10px auto;
  background-image: url(../images/about_background.jpg);
  background-size: cover;
  border-radius: 5px;
  min-width: 1200px;
}

.contact-container .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 10px;
}

.contact-container .contact-wrapper .contact-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
  gap: 20px;
  width: 60%;
}

.contact-container .contact-wrapper .contact-left .contact-heading-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container .contact-wrapper .contact-left .contact-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  justify-items: start;
}

.contact-container .contact-wrapper .contact-left .contact-item-wrapper .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 5px;
}

.contact-container .contact-wrapper .contact-left .contact-item-wrapper .contact-item .label {
  width: 50%;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-container .contact-wrapper .contact-left .contact-item-wrapper .contact-item .label i {
  color: black;
}

.contact-container .contact-wrapper .contact-left .contact-item-wrapper .contact-item .value {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-container .contact-wrapper .contact-left .contact-item-wrapper .contact-item .value a, .contact-container .contact-wrapper .contact-left .contact-item-wrapper .contact-item .value a:visited, .contact-container .contact-wrapper .contact-left .contact-item-wrapper .contact-item .value a:focus {
  text-decoration: none;
  color: #0b30d4;
}

.contact-container .contact-wrapper .contact-left .contact-item-wrapper .dummy-row {
  margin: 10px 0;
}

@-webkit-keyframes pendulam {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes pendulam {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes corouselAnimation {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes corouselAnimation {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */