:root {
    --clr-navbar-primary: #FFFFFF;
    --clr-navbar-secondary: rgba(100,149,237);
    --clr-navbar-gradient-from: rgba(18, 70, 112, 0.719);
    --clr-navbar-gradient-to: rgba(62, 117, 163, 0.507);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins;
    min-width: 1000px;
}

header {
    position: sticky;
    top: 0;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 5px 15px 5px 15px;
    background-image: linear-gradient(45deg, rgb(129, 192, 211), rgb(164, 198, 209), rgb(183, 190, 192));

    ul {
        list-style: none;
    }
    
    
    a, a:visited {
        text-decoration: none;
        font-weight: 200;
        cursor: pointer;
        color: var(--clr-navbar-primary);
    }
}

.brand-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .logo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background:var(--clr-navbar-secondary);
        font-weight: bold;
        font-size: 1.5rem;
        opacity: 0.95; 
        text-shadow: -2px -2px 1px rgba(25, 25, 26, 0.5);
    
        &:hover, &:focus {
            cursor: pointer;
            transform-origin: bottom;
            animation: 2s pendulam infinite linear;
        }
    }

    .brand-name {
        font-family: Raleway, sans-serif;
        color: var(--clr-navbar-primary);
        font-weight: 600;
        text-shadow: -2px -2px 1px rgba(25, 25, 26, 0.5);
    }
}

.navigation-wrapper {
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: space-between;   

    .nav-links {
        display: flex;
        gap: 60px;
        align-items: center;
        justify-content: space-between;           
    }
    
    img {
        border-radius: 50%;
        border: 1px solid var(--clr-navbar-primary);
        padding: 3px;
    
        &:hover, &:focus {
            cursor: pointer;
            padding: 5px;
            transform-origin: bottom;
            animation: 2s pendulam infinite linear;
        }
    }

    nav a {
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
        &:hover, &.active {
            background-color: var(--clr-navbar-primary);
            color: var(--clr-navbar-secondary);
        }
    }
}

.main-nav-wrapper {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 5px 10px;
    color: black;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    nav{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        a, a:visited {
            color: black;
            text-decoration: none;
            cursor: pointer;
            padding: 5px 20px;
        }

        a.active{
            background-color: rgba(0,0,0,0.3);
            color: white;
        }
    }
}
.all-section-wrapper{
    width: 100%;
    padding: 5px 10px;
}

.section-header {
    h3 {
        margin: 5px 0;
        color: rgba(0,0,0,0.5)
    }
}

.scroll-to-top{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    cursor: pointer;
}

section:target::before {
    content: '';
    display: block;
    height: 120px;
    margin-top: -120px;
}

.skills-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;

    .prog-group {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 10px;
        padding: 10px;

        .prog-group-header {
            font-weight: 600;
            background: rgba(61, 117, 168, 0.651);
            padding: 5px 15px;
            color: white;
            border-radius: 5px;
        }

        .prog-group-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            width: 100%;
            justify-content: center;

            .prog-item {
                display: flex;
                padding: 5px 10px;
                color: white;
                align-items: center;
                background: rgba(86, 157, 160, 0.74);
                padding: 5px 10px;
                border-radius: 5px;                
                justify-content: space-between;

                i {
                    text-shadow: 2px 2px 1px black;
                }

                .rating {
                    font-size: 0.7rem;
                    color: rgba(255, 217, 0, 0.931);
                }
            }
        }

    }

    .mlai-group {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 10px;
        padding: 10px;

        .mlai-group-header {
            font-weight: 600;
            background: rgba(61, 117, 168, 0.651);
            padding: 5px 15px;
            color: white;
            border-radius: 5px;
        }
        
        .mlai-group-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            width: 100%;
            justify-content: center;

            .mlai-item {
                display: flex;
                flex-direction: column;
                padding: 5px;
                color: white;
                gap: 10px;
                align-items: center;
                background: rgba(86, 157, 160, 0.74);
                border-radius: 5px;                
                justify-content: flex-start;
    
                .mlai-subitem-container {
                    display: flex;
                    gap: 5px;
                    align-items: flex-start;
                    justify-content: center;
                    font-size: 0.75rem;
                    flex-wrap: wrap;
        
                    .mlai-subitem-content {
                        padding: 2px 5px;
                        background:white;
                        color: rgba(0, 0, 0, 0.5);
                        border-radius: 5px;
                    }
                }
            }
        }
       

    }


}


@keyframes pendulam {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }    
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


